.mb-base {
  margin-bottom: 1.2rem !important;
}

.bg-primary {
  background-color: #04cb94;
}

// ======================================================================================
// Uncategorized
// ======================================================================================

.responsive {
  width: 100%;
  height: auto;
}

// ul.bordered-items {
//   &>li:not(:last-of-type):not([class*='shadow']) {
//     border-bottom: 1px solid #dae1e7;
//   }
// }
